.aboutContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background-color: #f3e2fa;
    width: 70%;
    border-radius: 20px;
}
.aboutHead{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image{
    display: flex;
    box-shadow: 2px 3px 7px 5px #a9279e9f;
    height: 300px;
    width: 300px;
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
}
.aboutHeader{
    display: flex;
    margin: 10px;
    padding: 10px;
}
.aboutText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
