.addnoteContainer {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  /* margin-top: 3rem; */
  background-color: #ffffff ;
  animation: slidetoRight 1s ease-in-out;
  transition: 0.5s ease-out;
  border-top: 10px dashed rgba(36, 36, 36, 0.766);
  background-size: 100% 25px;
  padding: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: -15px 15px 10px gray;
}
.addnoteContainer form {
  /* height: 65vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 5px;
  /* animation: rotateitem 1s ease; */
}
.addnoteContainer form textarea {
  background-image: linear-gradient(black 1px, transparent 1px);
  background-size: 100% 25px;
  resize: none;
  text-align: start;
  width: 95%;
  border-radius: 5px;
  /* margin: 5px; */
  /* border: 2px solid red; */
  /* background-color: #d7ace8; */
}
#title,
#tag {
    background-image: linear-gradient(black 1px, transparent 1px);
    background-size: 100% 25px;
  display: flex;
  width: 95%;
  text-align: start;
  border-radius: 5px;
  /* outline: 1px solid black; */
  /* background-color: #d7ace8; */
}
.addnotebtndiv {
  display: flex;
  width:100%;
  height: 25px;
}
.addnotebtn{
    background-color: #ffffff;
    color: black;
    outline: 1px solid black;
    transition: 0.2s;
}
.addnotebtn:hover{
    box-shadow: 1px 1px 1px 1px #000000dd;
}
.addnoteContainer form input[type="submit"]:disabled {
  background-color: #918e92;
  color: black;
}
.addnoteContainer form input[type="submit"]:disabled:hover {
  cursor: no-drop;
  box-shadow: none;
  scale: 1;
}
.addnoteContainer form input[type="submit"]:disabled:active {
  transform: none;
}

@keyframes slidetoRight {
  0% {
    opacity: 0;
    margin-left: -200%;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes rotateitem {
  0% {
    rotate: 20deg;
  }
  100% {
    rotate: 0deg;
  }
}
