.addnoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 60%; */
  background-color: #ffffff ;
  animation: slidetoRight 1s ease-in-out;
  transition: 0.5s ease-out;
  /* border-top: 10px dashed rgba(36, 36, 36, 0.766); */
  background-size: 100% 25px;
  margin: 10px;
  padding: 1rem;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  height: 90%;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: -15px 15px 10px gray;
}
.addnoteContainer form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* width: 100%; */
  padding: 5px;
}
.addnoteContainer form textarea {
  display: flex;
  resize: none;
  /* width: 95%; */
}
#title,
#tag {
  display: flex;
  /* width: 95%; */
}
.addnotebtn{
  display: flex;
    background-color: #ffffff;
    color: black;
    outline: 1px solid black;
    transition: 0.2s;
}
.addnoteContainer form input[type="submit"]:disabled {
  background-color: #918e92;
  color: black;
}
.addnoteContainer form input[type="submit"]:disabled:hover {
  cursor: no-drop;
  box-shadow: none;
  scale: 1;
}
.addnoteContainer form input[type="submit"]:disabled:active {
  transform: none;
}

@keyframes slidetoRight {
  0% {
    opacity: 0;
    margin-right: -200%;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes rotateitem {
  0% {
    rotate: 20deg;
  }
  100% {
    rotate: 0deg;
  }
}
