.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
.loginform{
    display: flex;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    /* width: 20%; */
    justify-content: center;
    align-items: center;
    background-color: #4d0647;
    border-top: 15px dashed white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 20px 20px 10px gray;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.loginform form{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    width: 80%;
}
.loginform form label{
    color: #c294d4;
    padding: 5px;
}
.loginform form button{
    color: #401c4e;
    justify-content: center;
    background-color: #c294d4;
}
.loginform form input{
    text-align: center;
}
.loginform form input:focus{
    outline: none;
}