.loginContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.loginHeader{
    display: flex;
    font-size: xx-large;
    margin: 2rem;
    padding: 10px;
}
.loginform{
    display: flex;
    /* border: 2px solid red; */
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 20%; */
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px 10px gray;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.loginform form{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    width: 80%;
}
.loginform form label{
    color: #c294d4;
    padding: 5px;
}
/* .loginform form button{
    color: #401c4e;
    justify-content: center;
    background-color: #c294d4;
} */
.loginform form input{
    text-align: center;
}
.loginform form input:focus{
    outline: none;
}