.signupContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    /* border: 2px solid red; */
}
.signupform{
    display: flex;
    /* border: 2px solid red; */
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 20%; */
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px 10px gray;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.signupform form{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.signupform form label{
    color: #c294d4;
    padding: 5px;
}
.signupform form input{
    text-align: center;
}
.signupform form input:focus{
    outline: none;
}
.gototext{
    color: #c294d4;
}
.clickhere:hover{
    cursor: pointer;
    scale: 0.95;
    color: rgb(20, 223, 20);
}