.profileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    background-color: #000000;
    color: white;
    box-shadow:0 0 12px 5px #a9279e9f;
    border-radius: 10px;
}
.profileContainer img{
    display: flex;
    /* border: 2px solid yellow; */
    /* width: 50%; */
    border-radius: 50%;
    box-shadow:0 0 12px 5px #983290f9;
    height: 25vh;
    transition: 0.3s;
}
.profileContainer img:hover{
    cursor: pointer;
    box-shadow:0 0 15px 8px #bd3eb2;
    scale: 1.1;
}
.profileDetails{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 2px solid green; */
    /* height: 15rem; */
    width: 90%;
    justify-content: center;
    align-items: center;

}
.hidden{
    display: none;
}
.hidden form{
    display: flex;
    flex-direction: column;
    transition: .3s;
}
.showform{
    display: flex;
    background-color: rgba(255, 252, 252, 0.829);
    color: black;
    position: absolute;
    justify-content: center;
    align-items: center;
    /* width: 60%; */
    /* border: 2px solid red; */
    height: auto;
    margin: 5px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:0 0 12px 5px #a9279e9f;
    /* animation: fadeIn .3s ease-in; */
}
.showform input{
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
}
.out{
    animation: fadeOut .3s;
    display: none;
}
.formbtn{
    display: flex;
    justify-content: space-between;
}
#discardbtn:hover{
    background-color: red;
}
#changepwdbtn:hover{
    background-color: green;
}
@keyframes fadeOut {
    0% { transform: scaleY(1); }
    100% { transform: scaleY(0);}
}