@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");


.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.headertext {
  display: flex;
  flex-wrap: wrap;
  font-family: "Righteous", cursive;
  /* color: #c294d4; */
}
.titletext {
  display: flex;
  flex-wrap: wrap;
  font-family: "Domine", serif;
  font-weight: bold;
  /* color: #c294d4; */
}
.paratext {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto Mono", monospace;
}
.inputtext {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Space Grotesk", sans-serif;
  /* text-align: center; */
  border: none;
  border-radius: 10px;
  outline: 1px solid black;
  font-size: 20px;
}
.inputtext:focus{
  box-shadow: 1px 1px 4px 2px black;
}
.commenttext {
  display: flex;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: x-small;
  color: #c294d4;
}
.tagtext {
  display: flex;
  font-family: "Edu NSW ACT Foundation", cursive;
}
.btn {
  display: flex;
  padding: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transition: 0.2s;
  font-family: "Roboto Mono", monospace;
}
.btn:hover {
  cursor: pointer;
  scale: 0.9;
  background-color: #c294d4;
  color: white;
}
.btn:active {
  transform: translateY(2px);
}
.Xmark {
  display: flex;
  position: absolute;
  top: 7px;
  right: 7px;
}
i {
  cursor: pointer;
  scale: 1.5;
  padding: 5px;
  margin-left: 10px;
  transition: 0.2s;
}
i:hover {
  scale: 1.2;
}
.spinner {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.642);
  z-index: 999;
  animation: FadeIn 0.5s ease-in-out;
}
.back{
  display: flex;
  position: fixed;
  top: 8rem;
  left: 0;
  color: black;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
