@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");


.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.headertext {
  display: flex;
  flex-wrap: wrap;
  font-family: "Righteous", cursive;
  /* color: #c294d4; */
}
.titletext {
  display: flex;
  flex-wrap: wrap;
  font-family: "Domine", serif;
  font-weight: bold;
  /* color: #c294d4; */
}
.paratext {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto Mono", monospace;
}
.inputtext {
  display: flex;
  flex-wrap: wrap;
  font-family: "Space Grotesk", sans-serif;
  /* text-align: center; */
  outline: none;
  border: none;
  font-size: 20px;
}
.commenttext {
  display: flex;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: x-small;
  color: rgb(254, 40, 40);
}
.tagtext {
  display: flex;
  font-family: "Edu NSW ACT Foundation", cursive;
}
.btn {
  display: flex;
  padding: 4px;
  color: #401c4e;
  justify-content: center;
  align-items: center;
  background-color: #c294d4;
  border-radius: 5px;
  transition: 0.2s;
  font-family: "Roboto Mono", monospace;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #f39adedd;
  scale: 0.95;
}
.btn:active {
  transform: translateY(2px);
}
.Xmark {
  display: flex;
  position: absolute;
  top: 7px;
  right: 7px;
}
i {
  cursor: pointer;
  scale: 1.5;
  margin-left: 10px;
  transition: 0.2s;
}
i:hover {
  scale: 1.2;
}
.spinner {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.642);
  z-index: 999;
  animation: FadeIn 0.5s ease-in-out;
}
img{
  border-radius: 50%;
  box-shadow:0 0 12px 5px #983290f9;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
